html{
    /*overflow-x: hidden;*/
    height: 100%;
}
body{
    overflow-x: hidden;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width:100%;
}

.header__languages{
    z-index: 999;
    position: absolute;
    color: white;
    background-color: rgb(57,57,57);
    cursor: pointer;
    right: 10%;
    top: 10%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.header__languages a{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 65px 11px 11px;
}
.header__languages a img{
    padding-right: 10px;
    width: 51px;
    height: 23px;
}

.header__languages a svg{
    height: auto;
    width: 12px;
    fill: white;
    position: relative;
    left: 55%;
}

.row_container_t1{
    display:flex;
    width:100%;
}

.row_container_t2{
    display:flex;
    width:100%;
    height:100vh;
    overflow: hidden;
}
#row-2-col-2-slideshow{
    width:50% !important;
    height:100vh !important;
}
.row-1-header {
    width: 100%; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    background-image: url("../images/row-1-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white; /* Set your text color to white */
    background-attachment: fixed; /* Fixed background attachment for parallax effect */
    background-position: center; /* Center the background vertically */
    z-index: 0;
}

.row-1-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black overlay */
}
.row-1-header h1::after {
    content: "";
    position: absolute;
    top: -65px;
    right: -90px;
    width: 125px;
    height: 125px;
    background-image: url("/images/logo_leaf.webp");
    background-repeat: no-repeat;
    background-size: contain;
}
.row-1-header h1 {
    font-size: 66px;
}
.row-1-header-text-container{
    display: flex;
    width:100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.row-1-header h2 {
    font-size: 45px;
}
.row-2-col-1-text {
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 35px;
    z-index: 1;
    width:50%;
}
.row-2-col-1-text::after{
    content: '';
    background-image: url("../images/row-2-col-1-background.webp");
    background-repeat: no-repeat;
    background-size: initial;
    background-position: -63% 116%;
    z-index: 1;
    height: 100vh;
    width:50%;
    position: absolute
}
#row-2-col-1-text-1{
    line-height: 50px;
    width:80%;
}
#row-2-col-1-text-2{
    font-size: 2rem;
    line-height: 45px;
    width:80%;
    z-index: 1;
}

#row-2-col-2-slideshow {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: opacity 0.2s ease-in-out, background-image 0.2s ease-in-out;
    opacity: 1; /* Start with full opacity */
}

.row-2-col-2-picture {
    grid-area: row-2-col-2-picture;
    background-image: url("../images/row-2-col-2-background-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.row-3-text {
    position: relative;
    width: 100%;
    overflow: hidden;
    height:300px;
}

.row-3-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Add a semi-transparent black overlay */
    z-index: 1;
}

.row-3-text video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row-3-text h2 {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 43px;
    font-weight: 400;
    top: 30%;
    width: 75%;
    left: 50%;
    transform: translate(-50%);
}
.row-4-col-1-text {
    display: flex;
    flex-direction: column;
    width:50%;
    justify-content: center;
    line-height: 45px;
}
#row-4-col-1-text-1{
    font-size: 3rem;
    font-weight: 200;
    padding-top: 39px;
    padding-bottom: 71px;
}
#row-4-col-1-text-2{
    /*font-family: "Adobe Arabic", serif;*/
    margin-bottom:35px;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 3px;
}

#row-4-col-1-text-3{
    padding-top: 30px;
    font-size: 2rem;
    letter-spacing: 3px;
}
.row-4-col-2-picture {
    background-image: url("../images/row-4-background.webp");
    background-repeat: no-repeat;
    background-size: initial;
    background-attachment: fixed;
    background-position: 85%;
    width:50%;
}

.row-5-col-1-picture {
    width:50%;
    background-image: url("../images/row-5-col-1-background-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.row-5-col-2-text {
    width:50%;
    color: white;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;
    padding: 0 130px;
    min-width: 564px;
}

.row-5-col-2-text-background{
    background-image: url("../images/row-5-col-2-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
    left:0px;
    width: 100%;
    height: 100%;
}
.row-5-col-2-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Add a semi-transparent black overlay */
    z-index: 1;
}
.row-5-col-2-text h2{
    z-index: 2;
}
.row-5-col-2-text p{
    padding-top: 40px;
    line-height: 47px;
    z-index: 2;
}
.row-6-text video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row-6-text {
    height:80vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

.row-6-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Add a semi-transparent black overlay */
    z-index: 1;
}

.row-6-text h2, .row-6-text ul {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    font-size: 3.5rem;
    font-weight: 400;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}

.row-6-text ul {
    font-size: 1.5rem;
}

.three-column-list {
    column-count: 3;
    padding-top: 30px;
    width: 100%;
    max-width:1000px;
    font-size: 1.5rem;
    padding-left:45px;
    padding-right:35px;
}

.three-column-list li {
    text-align: left;
    break-inside: avoid;
}


.row-7-col-1 {
    width:50%;
    background-image: url(../images/row-7-col-1-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 31px;
    font-weight: 300;
    background-position: right;
    background-color: black;
    z-index: 1;
}

#row-7-col-1-text{
    /*font-family: fangsong, serif;*/
    position: relative;
}
#row-7-col-1-text::before{
    content: "";
    position: absolute;
    top: -68px;
    right: 330px;
    width: 100px;
    height: 100px;
    background-image: url(/images/logo_leaf.webp);
    background-repeat: no-repeat;
    background-size: contain;
    transform:rotateY(180deg);
}
.row-7-col-2 {
    width:50%;
    background-image: url("../images/row-7-col-2-background.webp");
    background-repeat: no-repeat;
    background-size: 150%;
    background-color: black;
    color: white;
    background-position: left bottom;
}

#row-7-col-2-list{
    position: relative;
    font-size: 23px;
    top: 23%;
    left: 13%;
}

#row-7-col-2-list li{
    padding-top: 20px;
}

.row-8-col-1-picture {
    background-image: url("../images/row-8-col-1-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    width:50%;
}

.row-8-col-2-text {
    padding: 150px 80px 1px 90px;
    width:50%;
}
#row-8-col-2-tab-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
    grid-template-rows: repeat(2, 1fr); /* Two equal rows */
    grid-gap: 10px; /* Adjust the gap as needed */
    grid-auto-flow: row; /* Place items in rows */
}
.row-8-col-2-tabs {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.row-8-col-2-text h3{
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.row-8-col-2-tabs h5{
    padding-bottom: 58px;
    padding-top: 52px;
    font-size: 1.5rem;
    font-weight: 400;
}
.row-8-col-2-tabs p{
    font-size: 12px;
    color: rgb(128, 128, 128);
    padding-top: 10px;
}

.row-8-col-2-tabs .thin-line{
    width: 160px;
    border: none; /* Remove the default border */
    border-top: 1px solid #000; /* Add a top border to create a line */
}
.row-8-col-2-tabs .fat-line{
    width: 23px;
    height: 3px;
    border-top: 2px solid #000;
}
.row-9-footer {
    grid-area: row-9-footer;
    background-image: url("../images/row-9-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.row-9-footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Add a semi-transparent black overlay */
}

#footer-text-1{
    font-weight: 600;
    padding-top: 40px;
    z-index: 1;
}
#footer-text-2{
    color: white;
    padding-top: 16px;
    z-index: 1;
}
#footer-text-3{
    font-size: 1rem;
    font-weight: 300;
    padding-top: 16px;
    z-index: 1;
    text-align:center;
}
.row_container_t2.row-7{
    height:100vh;
}

.row_container_t2.row-8{
    z-index: 4;
    background:white;
    position: relative;
}

.row-7-col-2{
    position: relative;
}
.row-8-col-2-text{
    background-color:white;
    padding:125px;
}

@media screen and (max-width: 767px) {
    .header__languages {
        right: 50%;
        top: 65%;
        transform: translateX(50%);
    }

    .row-1-header{
        background-attachment:unset;
        height: 100%;
    }
    .row-1-header h1{
        font-size:2.3rem;
    }
    .row-1-header h2{
        font-size:1.5rem;
    }
    .row_container_t1{
        flex-direction: column;

    }
    .row_container_t1 div{
        width:100%;
        font-size:1.3rem;
    }

    .row_container_t2{
        flex-direction: column;

    }
    .row_container_t2 div{
        width:100%;
        font-size:1.3rem;
    }
    .row-col-1-text-2,
    .row-3-text h2,
    .row-4-col-1-text-2,
    .row-4-col-text-3{
        font-size:1.3rem;
    }

    #row-2-col-2-slideshow{
        width:100% !important;
    }

    .row-5-col-1-picture {
        height:37vh;
    }
    .row-1-header h1::after{
        width:70px;
        height:70px;
        right:-53px;
        top:-40px;
    }

    .row-2-col-1-text::after{
        background-position: -62% 90%;
        height: 200%;
        width: 200%;
        position: absolute;
        z-index: 0;
        transform: scale(.5) scaleX(-1);
    }

    .row-2-col-1-text{
        height: 80vh;
    }

    .flip-horizontal {
        transform: scaleX(-1); /* Flip the image horizontally */
    }

    #row-2-col-1-text-2{
        font-size:1.3rem;
    }

    #row-2-col-1-text-2, #row-2-col-1-text-1 {
        line-height: 37px;
    }

    #row-2-col-2-slideshow{
        height:46vh !important;
    }
    .row_container_t2{
        height: auto;
    }

    .row-3-text{
        display: none;
    }

    #row-4-col-1-text-1{
        font-size: 2rem;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-right: 25px;
    }

    #row-4-col-1-text-2, #row-4-col-1-text-3{
        font-size: 1.2rem;
        letter-spacing: 1px;
        line-height: 37px;
        padding-top: 0px;
    }

    .row-4-col-1-text{
        padding-bottom:35px;
    }

    .reverse{
        flex-direction: column-reverse;
    }

    .row-5-col-2-text{
        padding-bottom:65px;
        padding-top:65px;
        padding-right: 65px;
        line-height: 38px;

    }

    .row-5-col-2-text p{
        padding-top: 40px;
        line-height: 35px;
    }

    .row-5-col-2-text-background{
        height:100vh;
        top:-100px;
    }

    .row-6-text {
        height: 47vh;
    }

    .row-6-text h2{
        font-size:2rem;
    }

    .row-6-text h2, .row-6-text ul{
        top: 8%;
    }

    .three-column-list{
        font-size: 22px !important;
        display: flex;
        flex-direction: column;
        padding-left:63px;
    }

    .three-column-list li{
        padding-bottom:25px;
    }

    #row-7-col-2-list{
        top: 9%;
    }

    .row-7-col-1{
        height: 60vh;
    }

    .row-7-col-2{
        height: 550px;
    }

    .row_container_t2.row-7{
        height:auto;
    }

    .row-8-col-2-text {
        padding:28px;
        position: absolute;
    }

    .row-8-col-1-picture{
        height: 800px;
        background-position: 0 347px;
        background-size: contain;
    }
    #footer-text-3{
        text-align:center;
        font-size: 1rem;
    }
    #footer-text-2{
        text-align:center;
        font-size: 1rem;
        text-decoration: none;
    }
    #footer-text-1{
        text-align:center;
        font-size: 1rem;
    }
    .row-8-col-2-tabs p{
        font-size: 0.7rem;
        color:black !important;
    }
    .row-8-col-2-tabs .thin-line {
        width: 145px;
    }
    #row-8-col-2-tab-container{
        display: grid;
        /*flex-direction: column;*/
    }

    .row_container_t2.row-8{
        position: relative;
    }
    .row_container_t2.row-8::before{
        content:"";
        position: absolute;
        width:100%;
        height:100%;
        /*background-color:rgba(255,255,255,0.7);*/
        z-index: 1;
        left:0;
        top:0;
    }
    .row-8-col-2-text{
        z-index:2;
    }
    .row-8-col-2-text h3{
        font-size: 1.5rem;
        padding-left: 10px;
        padding-top: 65px;
    }

    .row-8-col-2-text h5{
        padding-top:45px;
        padding-bottom: 30px;
    }

    #row-7-col-1-text::before{
        top:-56px;
        right:220px;
        width:80px;
        height:80px;
    }
    .row-4-col-2-picture{
        background-attachment: unset;
        background-position:center;
        height: 39vh;
        background-size: contain;
    }

}
/*.row-1-header{*/
/*    background-attachment:unset;*/
/*    height: 100%;*/
/*}*/