*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "row-1-header row-1-header"
    "row-2-col-1-text row-2-col-2-picture"
    "row-3-text row-3-text"
    "row-4-col-1-text row-4-col-2-picture"
    "row-5-col-1-picture row-5-col-2-text"
    "row-6-text row-6-text"
    "row-7-col-1 row-7-col-2"
    "row-8-col-1-picture row-8-col-2-text"
    "row-9-footer row-9-footer";
}

.row-1-header {
    grid-area: row-1-header;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    background-image: url("../images/row-1-background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    color: white; /* Set your text color to white */
}

.row-1-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black overlay */
}
.row-1-header h1 {
    position: absolute;
    top: 32%;
    font-size: 66px;
    left: 36%;
}

.row-1-header h2 {
    position: absolute;
    top: 43%;
    font-size: 45px;
    left: 43.5%;
}
.row-2-col-1-text {
    grid-area: row-2-col-1-text;
    height: 90vh; /* 100% of the viewport height */
    background-image: url("../images/row-2-col-1-background.webp");
    background-repeat: no-repeat;
    background-size: initial;
    background-position: -119% 105%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13%;
    font-size: 35px;
}

#row-2-col-1-text-1{
    top: -21%;
    position: relative;
}
#row-2-col-1-text-2{
    font-size: 25px;
}
.row-2-col-2-picture {
    grid-area: row-2-col-2-picture;
    height: 90vh; /* 100% of the viewport height */
    background-image: url("../images/row-2-col-2-background-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.row-3-text { grid-area: row-3-text; }

.row-4-col-1-text { grid-area: row-4-col-1-text; }

.row-4-col-2-picture { grid-area: row-4-col-2-picture; }

.row-5-col-1-picture { grid-area: row-5-col-1-picture; }

.row-5-col-2-text { grid-area: row-5-col-2-text; }

.row-6-text { grid-area: row-6-text; }

.row-7-col-1 { grid-area: row-7-col-1; }

.row-7-col-2 { grid-area: row-7-col-2; }

.row-8-col-2-text { grid-area: row-8-col-2-text; }

.row-8-col-1-picture { grid-area: row-8-col-1-picture; }

.row-9-footer { grid-area: row-9-footer; }
